@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ef473a;
  background: -moz-linear-gradient(left, #cb2d3e 0%, #ef473a 100%);
  background: -webkit-linear-gradient(left, #cb2d3e 0%, #ef473a 100%);
  background: linear-gradient(to right, #cb2d3e 0%, #ef473a 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
